
* {
padding: 0;
margin: 0;
}
 
body {
background-color: white;
}

header {
color: #8a2931;
width: 60%;
}

.navlist {
  list-style-type: none;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

.navitem {
padding: 10px;
}
