
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto";
}

h2 {
  font-family: "Roboto";
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  h2 {
    font-size: 11px;
  }
}

header {
  background-color: #d82134;
  width: 60%;
  color: white;
  border-radius: 2px;
  border-bottom-right-radius: 46px;
  height: 60%;
}

.navlist {
  list-style-type: none;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.navitem {
  padding: 4px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .navitem {
    padding: 10px;
  }
}

li a {
  text-decoration: none;
  color: white;
}

.one {
  word-wrap: break-word;
  font-size: 10px;
  padding-left: 13%;
  padding-right: 39%;
  padding-top: 25%;
  padding-bottom: 35%;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .one {
    padding-left: 50px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 150px;
  }
}

.overlay {
  position: absolute;
  top: 6%;
  left: 40%;
  right: 20%;
  bottom: 6%;
}

@media only screen and (min-width: 768px) {
  .overlay {
    top: 50px;
    left: 40%;
    right: 20%;
    bottom: 50px;
  }
}

.overlay img {
  border: 4px solid white;
  height: 5cm;
  width: 4.5cm;
}

@media only screen and (min-width: 768px) {
  .overlay img {
    height: 7cm;
    width: 9cm;
  }
}
.icons {
  padding: 5px;
  position: absolute;
  top: 9%;
  left: 93%;
  right: 3%;
  color: black;
  writing-mode: vertical-lr;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .icons {
    top: 24%;
    left: 96%;
    right: 5%;
    font-size: 14px;
  }
}

.icons a {
  writing-mode: vertical-lr;
}

#about {
  padding-left: 60%;
  background-color: white;
  word-wrap: break-word;
  text-align: justify;
  width: 60%;
  overflow-x: hidden;
  padding: 5px;
  height: 5cm;
  color: black;
}

@media only screen and (min-width: 670px) {
  #about {
    height: 5.7cm;
  }
}

/*@media only screen and (min-width: 670px) {
  #about {
    width: 50%;
  }
}*/

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item {
  padding: 10px;
}

#blog {
  background-color: #d82134;
  color: white;
  text-align: center;
  width: 50%;
  word-wrap: break-word;
  overflow-x: hidden;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
 }

@media only screen and (max-width: 670px) {
  #blog {
    width: 8cm; 
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
height: 6cm;

  }
}

.flex-container2 {
  display: flex;
}

.flex-item2 {
  flex: 1;
}

@media only screen and (max-width: 670px) {
.flex-item2 img {
 height: 6cm;
 width: 9cm;
}
}
.go-to {
  background-color: white;
  color: #d82134;
  border-radius: 16px;
  border: none;
  /* box-shadow: 5px 10px 8px #160103;*/
  padding: 5px;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .go-to {
    width: 3cm;
  }
}

button a {
  color: #d82134;
  text-decoration: none;
}

#podcast {
  background-color: white;
  overflow-x: hidden;
  color: #d82134;
  padding: 20px;
}

#podcast div {
  padding: 15px;
}

footer {
  background-color: #d82134;
  color: white;
  text-align: center;
  overflow-x: hidden;
  word-wrap: break-word;
  height: 50%;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 8%;
}

.mail {
  background-color: white;
  color: #d82134;
  border-radius: 16px;
  border: none;
  /* box-shadow: 5px 10px 8px #160103;*/
  padding: 5px;
  font-weight: bold;
}
