* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto";
}

h2 {
  font-family: "Roboto";
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  h2 {
    font-size: 11px;
  }
}

header {
  width: 60%;
  color: white;
  border-radius: 2px;
  border-bottom-right-radius: 46px;
  height: 60%;
  background: linear-gradient(120deg, hsl(0, 79%, 53%), hsl(0, 82%, 22%));
}

.navlist {
  list-style-type: none;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.navitem {
  padding: 7px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .navitem {
    padding: 10px;
  }
}

 @media only screen and (max-width:500px) {
  li{
 border-bottom: 2px solid hsl(0, 79%, 53%);
}
   }

li a {
  text-decoration: none;
  color: white;
  transition: border-bottom 0.3s 0.1s linear;
}

li:nth-child(1) {
  animation: bar 1.5s 0.5s ease-in, bar 1.5s 6.5s ease;
}

li:nth-child(2) {
  animation: bar 1.5s 2s ease, bar 1.5s 8s ease;
}

li:nth-child(3) {
  animation: bar 1.5s 3.5s ease, bar 1.5s 9.5s ease;
}

li:nth-child(4) {
  animation: bar 1.5s 5s ease, bar 1.5s 11s ease;
}

@keyframes bar {
  from {
    border: none;
  }
  to {
    border-bottom: 2px solid white;
    padding: 3px;
  }
}
li a:hover {
  border-bottom: 2px solid white;
  padding: 3px;
}

.one {
  word-wrap: break-word;

  padding-left: 13%;
  padding-right: 34%;
  padding-top: 22%;
  padding-bottom: 34%;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .one {
    padding-left: 70px;
    padding-right: 250px;
    padding-top: 100px;
    padding-bottom: 150px;
  }
}

.overlay {
  position: absolute;
  top: 10%;
  left: 42%;
  right: 22%;
  bottom: 5%;
  animation: twirl 3s linear 0.2s forwards infinite;
}

@keyframes twirl {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@media only screen and (min-width: 768px) {
  .overlay {
    top: 80px;
    left: 40%;
    right: 20%;
    bottom: 50px;
  }
}

.overlay img {
  border: 4px solid white;
  height: 4.5cm;
  width: 4cm;
}

@media only screen and (min-width: 768px) {
  .overlay img {
    height: 7cm;
    width: 9cm;
  }
}
.icons {
  padding: 2px;
  position: absolute;
  top: 50%;
  left: 94%;
  right: 2%;
  color: black;
  writing-mode: vertical-lr;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .icons {
    top: 24%;
    left: 96%;
    right: 3%;
    font-size: 14px;
  }
}

.icons a {
  writing-mode: vertical-lr;
}

#about {
  padding-left: 60%;
  background-color: white;
  word-wrap: break-word;
  text-align: justify;
  width: 60%;
  overflow-x: hidden;
  padding: 5px;

  color: black;
}

@media only screen and (min-width: 670px) {
  #about {
    height: ;
  }
}

/*@media only screen and (min-width: 670px) {
  #about {
    width: 50%;
  }
}*/

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item {
  padding: 10px;
}

#blog {
  background: linear-gradient(120deg, hsl(0, 79%, 53%), hsl(0, 82%, 22%));
  color: white;
  text-align: center;
  width: 50%;
  word-wrap: break-word;
  overflow-x: hidden;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 670px) {
  #blog {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.flex-container2 {
  display: flex;
}

.flex-item2 {
  flex: 1;
}

@media only screen and (max-width: 670px) {
  .flex-item2 img {
    height: 6cm;
     object-fit: cover;
    margin-right: -20px;
  }
}

.go-to {
  background: white;
  color: hsl(0, 79%, 53%);
  border-radius: 16px;
  border: none;
  /* box-shadow: 5px 10px 8px #160103;*/
  padding: 9px;
  font-weight: bold;
  transition: background-color 0.2s linear, transform 1s;
  animation-name: button;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  animation-iteration-count: 15;
  animation-timing-function: ease-in-out;
}

@keyframes button {
  from {
    transform: translate(-45%);
    /*transform: scale(0);*/
  }
  to {
    transform: translate(45%);
    /* transform: scale(1.2);*/
  }
}

.go-to:hover {
  background-color: hsl(0, 79%, 53%);
  color: white;
  transform: scale(1.5);
}

.go-to a:hover {
  color: white;
}
@media only screen and (min-width: 600px) {
  .go-to {
    width: 3cm;
  }
}

button a {
  color: hsl(0, 79%, 53%);
  text-decoration: none;
}

#go-to-podcast {
  background-color: #d82134;
}
#go-to-podcast a {
  color: white;
}

#go-to-podcast:hover {
  background-color: white;
  border: solid 1px hsl(0, 79%, 53%);
}

#go-to-podcast a:hover {
  color: hsl(0, 79%, 53%);
}

#podcast {
  background-color: white;
  overflow-x: hidden;
  color: hsl(0, 79%, 53%);
  padding: 20px;
}

#podcast div {
  padding: 15px;
}

footer {
  background: linear-gradient(120deg, hsl(0, 79%, 53%), hsl(0, 82%, 22%));
  color: white;
  text-align: center;
  overflow-x: hidden;
  word-wrap: break-word;
  height: 50%;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 8%;
}

.mail {
  background-color: white;
  color: hsl(0, 79%, 53%);
  border-radius: 16px;
  border: none;
  /* box-shadow: 5px 10px 8px #160103;*/
  padding: 5px;
  font-weight: bold;
  transition: background-color 0.3s linear;
  animation: mail 2.5s 0.3s;
  animation-fill-mode: backwards;
  animation-iteration-count: 10;
}

@keyframes mail {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.mail:hover {
  background-color: hsl(0, 79%, 53%);
  color: white;
}

.mail a:hover {
  color: white;
}

#blogbox {
  position: relative;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  margin-bottom: -4px;
}

#blogbox2 {
  float: right;
  position: relative;
  top: 0;
  right: 0;
}

#blogbox3 {
  position: relative;
  left: 0;
  bottom: 0;
  margin-bottom: -4px;
}
  #half-box1 {
    position: absolute;
    top: 46px;
    right: 26px;
}

#half-box2 {
  position: absolute;
  top: 193px;
  right: 26px;
}

@media only screen and (min-width: 810px) {
 #half-box1 {
  position: absolute;
  top: 38px;
  right: 227px;
}

#half-box2 {
  position: absolute;
  top: 279px;
  right: 227px;
}
}

 @media only screen and (orientation:landscape) {
#half-box1 {
   position: absolute;
   top: 7%;
   right: 30%;
}

#half-box2 {
   position: absolute;
   top: 49.89%;
   right: 30%;
}
}


@media only screen and (orientation:landscape) and (min-width: 800px) {
#half-box1 {
   position: absolute;
   top: 9.5%;
   right: 31%;
}

#half-box2 {
   position: absolute;
   top: 49%;
   right: 31%;
}
}
@media only screen and (min-width: 700px) and (max-width: 801px) {
#half-box1 {
   position: absolute;
   top: 6.2%;
   right: 22%;
}

#half-box2 {
   position: absolute;
   top: 33%;
   right: 22%;
}
}
